<!DOCTYPE html>
<html>
<head>
  <title>{{titleName}}</title>
  <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">
  <link rel='stylesheet' href='../../public/css/style.css' />
  <link rel='stylesheet' href='../../public/css/home.css' />
  <link rel="stylesheet" href="../../public/css/form.css" />
  <link rel="stylesheet" href="../../public/css/style_Imagepost.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/{{styleType}}.css">
  <script defer type="text/javascript" src="public/js/{{scriptType}}.js"></script>
  <script defer type="text/javascript" src="../../public/js/FrontEnd.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap" rel="stylesheet">
</head>