
  <body>
    <div class="login_box">
      <header>
        <h1>LOGIN PAGE</h1>
        <br>
      </header>
      <form class="container" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
        <!--Username Section-->
        <label for="username">USERNAME</label><br>
        <input type="text" id="username1" name="username" required><br><br>
        <!--Password Section-->
        <label for="password">PASSWORD</label><br>
        <input type="password" id="password1" name="password" required><br><br>
        <!--Ask For Registration-->
        <label id="ask_reg">Don't have an account? <a href="/registration">Register Here!</a></label><br><br>
        <!--Submit Button Section-->
        <input type="submit" id="sub" value="SUBMIT">
      </form>
    </div>>
