/* #container{
  width: 90%;
  height: 95vh;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr .5fr 5fr .3fr;
  grid-template-columns: repeat(4,1fr);
  grid-template-areas: 
  "nav nav nav nav"
  "content content content content"
  "footer footer footer footer";
  text-align: center;
} */

.grid {
  display: grid; 
  grid-template-columns: repeat(4, .5fr);
  align-items: stretch;
}

.article {
  border-radius: 20px;
  backdrop-filter: blur(10px);
  width: 360px;
  height: 360px;
  padding: 10px;
  text-align: center;
  margin: 4.5px auto;
  font-size: 20px;
  box-shadow: 0px 10px 18px grey;

}

.article_post {
  border-radius: 20px;
  box-shadow: 0px 35px 65px white;
  backdrop-filter: blur(40px);
  width: 730px;
  height: 720px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin: 15px;
  font-size: 20px;
  /* left: 70%;
  transform: translate(-70%, 0);} */
  /* transform: translate(-65%, 10%); */
  float: left;
  position: relative;
}

.comment_window {
  border-radius: 20px;
  box-shadow: 0px 35px 65px white;
  backdrop-filter: blur(40px);
  width: 730px;
  height: 720px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin: 15px;
  position: relative;
  font-size: 20px;
  /* transform: translate(65%, -106%); */
  float: right;

}

.viewpost_box {
  border-radius: 10px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 80px;
  backdrop-filter: blur(10px);
  padding: 20px;
  text-align: center;
  position: fixed;

}

.details {
  color: white; 
}



.article:hover {
  background-color: rgb(21, 61, 77);
}


.grid > .article {
  border: 2px solid;
}

.grid > .article img {
  max-width: 50%;
  padding-top: 5px;
}

.details {
  padding: 0 20px 20px;
}

.search_bar {
  margin-top: 20px; 
  text-align: center; 
  padding: 20px; 
}

.search_input {
  border-radius: 10px;
  background-color: rgb(170, 255, 223);  

}

.search_button {
  color: white; 
  background-color: orange; 
  border-radius: 10px;
}

.anchor-buttons {
  color: lightgrey; 
  background-color: rgb(46, 46, 228);
  margin: 100px 20px 10px 20px; 
  border-radius: 5px;
  padding: 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
  position: relative;
}

.anchor-buttons:hover {
  color: rgb(5, 1, 29); 
  background-color: rgb(255, 255, 255); 
  margin-bottom: 20px; 
  border-radius: 5px;
  padding: 2px;
  text-decoration: none;
  text-transform: uppercase;
}


.search_bar {
  margin-top: 20px; 
  text-align: center; 
  padding: 20px; 
}

.search_input {
  background-color: lightblue; 
  padding: 5px; 
  width: 80%; 
  margin-left: 5%;
}

.search_button {
  color: white; 
  background-color: blue; 
  border-radius: 10px;
}



#flash-message {
  position: fixed; 
  left: 50%; 
  top: 10%; 
  transform: translate(-50%, 0);}

#flash-message div {
  text-align: center; 
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
